[Unit]
Description=Manager service for smarthub. Automating startup scripts and hub software.
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/gateway.hub/app/manager.py
WorkingDirectory=~/gateway.hub/app
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
