[Unit]
Description=Manager service for smarthub. Automating startup scripts and hub software.
After=network.target

[Service]
ExecStart=cd /home/pi/Desktop/gateway.hub/app && sudo python3 main.py
WorkingDirectory=/home/pi/Desktop/gateway.hub/app
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
